@{
    ViewData["Title"] = "All Drinks";
}

<div class="text-center">
    <h1 class="display-4">@Model.CurrentCategory</h1>
   
</div>



@foreach (var item in Model.Drinks)
{
    <h2>Drink name: @item.Name</h2>
    <h3>Price: @item.Price</h3>
}
