@using  onlineShop.WEB.Data.Models
@model IEnumerable<Drink>
@{
    ViewData["Title"] = "All Drinks";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var item in Model)
{
    <h1>Drink name: @item.Name</h1>
    <h2>Price: @item.Price</h2>
}
