<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - onlineShop.WEB</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="home-inner">

    </div>

    @await Component.InvokeAsync("DinamicMenu")

    @await Component.InvokeAsync("ShoppingCart")

    <div class="container body-content " style="padding:50px;">
        @RenderBody()

        <hr />

        <footer>
            <hr />
           <a target="_blank" href="https://">&copy; 2020 - Boya</a>
        </footer>

    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
